@charset "utf-8";

/* CSS Document */
body, td, th, p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul, li {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  color: #333;
}

a {
  color: #9276c1;
  text-decoration: none;
}

a:hover, a:focus {
  color: #cbaefc;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #18151c;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 100px;
  background-color: #18151c;
  text-align: center;
}

nav h1 {
  margin: auto;
  padding: 20px;
}

nav h1 a {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: .5rem;
  text-transform: uppercase;
  padding: 10px;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #604a7e;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #392c4b;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #3c2a4d;
  align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  /*  width: 200px;*/
}

#neighborhoods-select {
  margin-left: 25px;
  margin-top: 15px;
}

/* ====================== Restaurant Listing ====================== */
.restaurants-list-container {
  width: 100%;
}

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 22px 60px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 1px solid #18151c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 0px 25px;
  text-align: center;
  width: 329px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #553e6a;
  font-family: 'Oswald', sans-serif;
  font-size: 18pt;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 14pt;
}

#restaurants-list li a {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .2rem;
  background-color: #392c4b;
  border-bottom: 3px solid #eee;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 12pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #392c4b;
  font-family: 'Oswald', sans-serif;
  font-size: 26pt;
  letter-spacing: 2px;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #382b4c;
  color: #fff;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: #392c4b;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}